.app {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 220px;
  background: #1e1e1e;
  color: white;
  padding: 1rem;
}

.sidebar h3 {
  margin-bottom: 1.5rem;
}

nav a {
  display: block;
  padding: .5rem 0;
  color: white;
  text-decoration: none;
}

nav a.active {
  font-weight: bold;
}

.content {
  flex: 1;
  padding: 1.5rem;
}

.logout {
  margin-top: 2rem;
  width: 100%;
}

.theme-btn {
  margin-top: 20px;
  padding: 10px;
  width: 100%;
  background: var(--card-bg);
  color: var(--text-color);
  border: none;
  cursor: pointer;
  border-radius: 4px;
}